In this workbook we want to merge all data into one final dataframe, that is used as the basis for the heatmap.
The structure should be like:

x | y | dist_educ | dist_... | ... | scaled_dist_educ | scaled_dist_... | ... | final_measure

In [121]:
import pandas as pd

In [122]:
# import the datapoints for the Porto grid
df = pd.read_csv("coordinate_grid.csv", sep=",")

In [123]:
# import green areas
df_green = pd.read_csv("Data/green_areas_df.csv", sep="\t")

In [124]:
# import preschools
df_ed_pre = pd.read_csv("Data/Education/preschools.csv")

In [125]:
# import primary schools
df_ed_prim = pd.read_csv("Data/Education/primaryschools.csv")

In [126]:
# import secondary schools
df_ed_second = pd.read_csv("Data/Education/secondaryschools.csv")

In [127]:
# import superior schools
df_ed_sup = pd.read_csv("Data/Education/superiorschools.csv")

In [128]:
# import bus
df_pt_bus = pd.read_csv("Data/PublicTransport/bus_stops.csv")

In [129]:
# import metro
df_pt_metro = pd.read_csv("Data/PublicTransport/metro_stations.csv")

In [130]:
# import landfill dumps
df_lf_dumps = pd.read_csv("Data/landfill_dumps_df.csv")

In [131]:
# import market faires
df_market = pd.read_csv("Data/market_faires_df.csv", sep="\t")

In [132]:
# import scrap dumps
df_sc_dumps = pd.read_csv("Data/scrap_dumps_df.csv")

In [133]:
# import scrap dumps
df_shopping = pd.read_csv("Data/shopping_center_df.csv", sep="\t")

In [134]:
# import scrap dumps
df_restaurants = pd.read_csv("Data/restaurants.csv")

In [135]:
# import scrap dumps
df_religous = pd.read_csv("Data/religous_buildings_df.csv", sep="\t")

In [136]:
# import scrap dumps
df_sports = pd.read_csv("Data/sports_df.csv", sep="\t")

In [137]:
# import scrap dumps
df_theaters = pd.read_csv("Data/theaters_df.csv", sep="\t")

In [138]:
# import scrap dumps
df_hospitals = pd.read_csv("Data/hospitals_df.csv", sep="\t")

Done with uploading!!!

In [139]:
#function that computes the distance to the closeset point of interest
def calculate_dist(df):
    def calculate(row):
        y = row["lat"]
        x = row["long"]
        temp_list = []
        for i in range(df.shape[0]):
            dist = get_distance(df.loc[i,"y"], df.loc[i, "x"], y, x)
            temp_list.append(dist)
        return min(temp_list)
    return calculate

In [140]:
# credit to: https://stackoverflow.com/questions/44743075/calculate-the-distance-between-two-coordinates-with-python
import math

def get_distance(y_1, x_1, y_2, x_2): 
    d_y = y_2 - y_1
    d_x = x_2 - x_1 

    temp = (  
         math.sin(d_y / 2) ** 2 
       + math.cos(y_1) 
       * math.cos(y_2) 
       * math.sin(d_x / 2) ** 2
    )

    return 6373.0 * (2 * math.atan2(math.sqrt(temp), math.sqrt(1 - temp)))

Merge all dataframes and calculate distances!

In [141]:
df["green"] = df.apply(calculate_dist(df_green), axis=1)

In [142]:
df["ed_pre"] = df.apply(calculate_dist(df_ed_pre), axis=1)

In [143]:
df["ed_prim"] = df.apply(calculate_dist(df_ed_prim), axis=1)

In [144]:
df["ed_second"] = df.apply(calculate_dist(df_ed_second), axis=1)

In [145]:
df["ed_sup"] = df.apply(calculate_dist(df_ed_sup), axis=1)

In [146]:
df["pt_bus"] = df.apply(calculate_dist(df_pt_bus), axis=1)

In [147]:
df["pt_metro"] = df.apply(calculate_dist(df_pt_metro), axis=1)

In [148]:
df["lf_dumps"] = df.apply(calculate_dist(df_lf_dumps), axis=1)

In [149]:
df["market"] = df.apply(calculate_dist(df_market), axis=1)

In [150]:
df["sc_dumps"] = df.apply(calculate_dist(df_sc_dumps), axis=1)

In [151]:
df["sc_shopping"] = df.apply(calculate_dist(df_shopping), axis=1)

In [152]:
df["restaurants"] = df.apply(calculate_dist(df_restaurants), axis=1)

In [153]:
df["religous"] = df.apply(calculate_dist(df_religous), axis=1)

In [154]:
df["sports"] = df.apply(calculate_dist(df_sports), axis=1)

In [155]:
df["theaters"] = df.apply(calculate_dist(df_theaters), axis=1)

In [156]:
df["hospitals"] = df.apply(calculate_dist(df_hospitals), axis=1)

Scale these badboys"!

In [157]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [158]:
df["green_scaled"] = scaler.fit_transform(df[['green']])

In [159]:
df["ed_pre_scaled"] = scaler.fit_transform(df[['ed_pre']])

In [160]:
df["ed_prim_scaled"] = scaler.fit_transform(df[['ed_prim']])

In [161]:
df["ed_second_scaled"] = scaler.fit_transform(df[['ed_second']])

In [162]:
df["ed_sup_scaled"] = scaler.fit_transform(df[['ed_sup']])

In [163]:
df["pt_bus_scaled"] = scaler.fit_transform(df[['pt_bus']])

In [164]:
df["pt_metro_scaled"] = scaler.fit_transform(df[['pt_metro']])

In [165]:
df["lf_dumps_scaled"] = scaler.fit_transform(df[['lf_dumps']])

In [166]:
df["market_scaled"] = scaler.fit_transform(df[['market']])

In [167]:
df["sc_dumps_scaled"] = scaler.fit_transform(df[['sc_dumps']])

In [168]:
df.describe()

,lat,long,green,ed_pre,ed_prim,ed_second,ed_sup,pt_bus,pt_metro,lf_dumps,...,green_scaled,ed_pre_scaled,ed_prim_scaled,ed_second_scaled,ed_sup_scaled,pt_bus_scaled,pt_metro_scaled,lf_dumps_scaled,market_scaled,sc_dumps_scaled
count,17623.000000,17623.000000,17623.000000,17623.000000,17623.000000,17623.000000,17623.000000,17623.000000,17623.000000,17623.000000,...,17623.000000,17623.000000,17623.000000,17623.000000,17623.000000,17623.000000,17623.000000,17623.000000,17623.000000,17623.000000
mean,41.161893,-8.621015,80.776825,25.508386,46.157384,61.849240,53.924551,13.653880,72.636978,46.835837,...,0.365595,0.242231,0.318176,0.431516,0.245322,0.221269,0.267886,0.304732,0.287002,0.350996
std,0.010941,0.033328,44.792415,14.449457,22.645612,29.916671,43.136133,8.118606,63.225537,26.542158,...,0.204169,0.137930,0.157899,0.210248,0.197006,0.132524,0.233694,0.174814,0.175204,0.278796
min,41.140000,-8.690000,0.569246,0.132413,0.524962,0.447793,0.209224,0.098680,0.160898,0.568061,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,41.153000,-8.648500,45.614487,15.207390,29.711871,38.297385,21.109219,7.561695,26.536709,27.495168,...,0.205321,0.143901,0.203508,0.265999,0.095452,0.121823,0.097490,0.177349,0.157478,0.105471
50%,41.162000,-8.618500,74.664554,23.390514,44.049250,60.934905,42.531395,12.374763,49.478878,43.078535,...,0.337735,0.222015,0.303477,0.425091,0.193289,0.200389,0.182289,0.279985,0.252859,0.267636
75%,41.171000,-8.593500,110.667388,33.213501,59.820601,84.141948,74.127989,18.368682,97.196016,60.520121,...,0.501839,0.315782,0.413444,0.588185,0.337593,0.298231,0.358662,0.394860,0.378709,0.572724
max,41.185500,-8.555500,219.958455,104.891640,143.943605,142.740064,219.167541,61.359913,270.708755,152.399176,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [169]:
weight_green = 0.2
weight_ed_pre = 0.3/4
weight_ed_prim = 0.3/4
weight_ed_second = 0.1/4
weight_ed_sup = 0.1/4
weight_pt_bus = 0.2
weight_pt_metro = 0.2
weight_lf_dumps = 0.1
weight_market = 0.2
weight_sc_dumps = 0.05
weight_shopping = 0.15

In [170]:
df["QOL"] = weight_green*df["green_scaled"] + \
            weight_ed_pre*df["ed_pre_scaled"] + \
            weight_ed_prim*df["ed_prim_scaled"] + \
            weight_ed_second*df["ed_second_scaled"] + \
            weight_ed_sup*df["ed_sup_scaled"] + \
            weight_pt_bus*df["pt_bus_scaled"] + \
            weight_pt_metro*df["pt_metro_scaled"] - \
            weight_lf_dumps*df["lf_dumps_scaled"] + \
            weight_market*df["market_scaled"] - \
            weight_sc_dumps*df["sc_dumps_scaled"]

In [171]:
df.describe()

,lat,long,green,ed_pre,ed_prim,ed_second,ed_sup,pt_bus,pt_metro,lf_dumps,...,ed_pre_scaled,ed_prim_scaled,ed_second_scaled,ed_sup_scaled,pt_bus_scaled,pt_metro_scaled,lf_dumps_scaled,market_scaled,sc_dumps_scaled,QOL
count,17623.000000,17623.000000,17623.000000,17623.000000,17623.000000,17623.000000,17623.000000,17623.000000,17623.000000,17623.000000,...,17623.000000,17623.000000,17623.000000,17623.000000,17623.000000,17623.000000,17623.000000,17623.000000,17623.000000,17623.000000
mean,41.161893,-8.621015,80.776825,25.508386,46.157384,61.849240,53.924551,13.653880,72.636978,46.835837,...,0.242231,0.318176,0.431516,0.245322,0.221269,0.267886,0.304732,0.287002,0.350996,0.239279
std,0.010941,0.033328,44.792415,14.449457,22.645612,29.916671,43.136133,8.118606,63.225537,26.542158,...,0.137930,0.157899,0.210248,0.197006,0.132524,0.233694,0.174814,0.175204,0.278796,0.097795
min,41.140000,-8.690000,0.569246,0.132413,0.524962,0.447793,0.209224,0.098680,0.160898,0.568061,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.034859
25%,41.153000,-8.648500,45.614487,15.207390,29.711871,38.297385,21.109219,7.561695,26.536709,27.495168,...,0.143901,0.203508,0.265999,0.095452,0.121823,0.097490,0.177349,0.157478,0.105471,0.163977
50%,41.162000,-8.618500,74.664554,23.390514,44.049250,60.934905,42.531395,12.374763,49.478878,43.078535,...,0.222015,0.303477,0.425091,0.193289,0.200389,0.182289,0.279985,0.252859,0.267636,0.241082
75%,41.171000,-8.593500,110.667388,33.213501,59.820601,84.141948,74.127989,18.368682,97.196016,60.520121,...,0.315782,0.413444,0.588185,0.337593,0.298231,0.358662,0.394860,0.378709,0.572724,0.303973
max,41.185500,-8.555500,219.958455,104.891640,143.943605,142.740064,219.167541,61.359913,270.708755,152.399176,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.698348

In [172]:
df_output = df[["lat", "long", "QOL"]].copy()

In [173]:
df_output.to_csv("quality_measure.csv", sep="\t")